<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - CleanCruiz</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open Sans' >
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <div class="navbar" id="nav">

        <!-- Logo -->
        <h2>Clean<i>Cruiz</i></h2>
        
        <!-- NavBar -->
        <div class="linksection">
            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#AboutUs">About us</a></li>
                <li><a href="#Services">Services</a></li>
                <li><a href="#ContactUs">Contact us</a></li>
                <li><a href="#Blog">Blog</a></li>
            </ul>
        </div>

    <!-- Button -->
        <div class="button">
            <a href="./login.html"><button>Log In</button></a>
            <button id="btnSignUp">Sign Up</button>
        </div>

    </div>

    <div class="banner1" id="Home">

       <div class="text1">
            <h1>Don't Stress.<br>We'll handle the<br>mess</h1>
            <p>Because our standards aren't standard, we give you only the best. Your number one cleaning agency is here to save the day.</p>
            <a href="#Services"> <button>See Our Offers</button></a>
       </div>

        <img src="../static/images/hero.png" alt="heroimage" height="400px" width="600px">
        </div>

<!-- Banner2 -->
    <div class="banner2" id="AboutUs">
        <h2>Who We Are</h2>
        <p>Clean<i>Cruiz</i> is a cleaning service provider for homes, apartments and various places that require professional cleaning. Our goal is to provide high standard cleaning solutions to your living space clean and comfortable</p>
           <br> <h3>Why peope choose us always:</h3>
            <ul>
                <li>Vetted and screened professionals</li>
                <li>Friendly 24/7 customer service</li>
                <li>Affordable, upfront pricing</li>
            </ul>
        </div>

<!-- Banner3 -->
<div class="banner3" id="Services">
    <h2 style="text-align: center;">What We Offer</h2>
    <div class="theservices">
        <div class="homecleaning">
            <div class="circle"><img src="../static/images/house-svgrepo-com.svg" alt="avatar" height="35px" width="35px"></div>
            <h4>Home Cleaning</h4>
            <br>
            <p>Booking this service, you will get a thorough cleaning which focuses mainly on laundry cleaning, bedroom arrangement, cleaning of the restrooms and the kitchen cleaning. It involves dustings and washing the blinds, cleaning the ovens, and freezers...<a href="#">read more</a></p>
            <button>Book Now</button>
        </div>
        <div class="officecleaning">
            <div class="circle"><img src="../static/images/office-icon.svg" alt="avatar" height="35px" width="35px"></div>
            <h4>Office Cleaning</h4>
            <br>
            <p>This involves daily emptying of trash cans and replacing trash bags, mopping floors, dusting furnitures, entrance glass cleaning, windows cleaning, stocking tissues and restrooms cleaning . Also includes weekly and monthly routines of mowing the lawn...<a href="#">read more</a></p>
            <button>Book Now</button>
        </div>
        <div class="outdoorcleaning">            
            <div class="circle"><img src="../static/images/moweer.svg" alt="avatar" height="35px" width="35px"></div>
            <h4>Outdoor Cleaning</h4>
            <br>
            <p>This service include  but is not limited to clearing and sweeping your balcony, patio or terrace, driveway cleaning, house washing, roof cleaning, washing your outdoor areas with a pressure washer, chimney cleaning, mowing your lawn and tending to gardens...<a href="#">read more</a> </p>
            <button>Book Now</button>
        </div>
    </div>
</div>

<div class="banner4">
    <span id="quote" class="material-icons" style="color: gray; opacity: 0.3; font-size: 100px; transform: rotate(180deg);"> format_quote</span>
    
    <div class="banner4a">

        <div class="review">
            <h1>Review from our customer</h1>
      </div>

        <div class="textrating">
            <p>“The quality of cleaning is excellent. They are dependable. A morning appointment is very important to me and they always keep that time frame. I also feel very confident that my home is secure during their visits.  Clean<i>Cruiz</i> is not inexpensive but the quality of service and peace of mind is worth the extra expense I may pay. ”</p>
                    <div class="fivestars">
                        <ion-icon name="star" style="color: gold;"></ion-icon>
                        <ion-icon name="star" style="color: gold;"></ion-icon>
                        <ion-icon name="star" style="color: gold;"></ion-icon>
                        <ion-icon name="star" style="color: gold;"></ion-icon>
                        <ion-icon name="star" style="color: gold;"></ion-icon>
                    </div>
            
                <div class="customer">
                    <div class="aboutcustomer">
                        <img src="../static/images/KlarissaEd.jpeg" alt="customerphoto" height="60px" width="60px">
                        <div class="nameandtitle">
                            <span><b>Klarissa Edwards</b></span>
                            <h4 style="color: gray;">Entrepreneur</h4>
                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
</div>

    <div class="banner5" id="ContactUs"> 
            <div class="side1">
                <h2>Subscribe to our Newsletter</h2>
                <p>Get 25% off your first booking and blogpost update when you subscribe to us.</p>
                <form>
                    <input type="text" id="emailaddress" name="emailaddress" placeholder=" Type your email address">
                    <input type="submit" value="Subscribe">
                </form>

                <br><p>Follow us on: </p>
                <div class="banner78">

                </div>
                    <div class="socials">    
                        <a href="www.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="www.twitter.com"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="www.youtube.com"><ion-icon name="logo-youtube"></ion-icon></a>
                    </div>
                    <div class="ourcontacts">
                        <p style="padding-bottom: 5px;">Contact us on:</p>
                        <a href="tel:+2348012345678"> +234 801 2345 678</a> <br>
                        <a href="mailto:info@cleancruiz.com">info@cleancruiz.com</a>
                    </div>
                    <br> <br>
            </div>  
            <div class="byeimage">
                <img src="../static/images/Maid-Thumbs-Up-removebg-preview.png" alt="thumb up" height="462px" width="462px">
            </div>
    </div>


    <div class="copyright">
        <p> Copyright <span class="material-icons">
            copyright</span> Clean<i>Cruiz</i> 2022</p>
    </div>
    <br>

<i class="glyphicon glyphicon-cloud"></i>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>